In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('tweet_20170101_20170201_en.csv')
df1['month'] = 1
df2 = pd.read_csv('tweet_20170201_20170301_en.csv')
df2['month'] = 2
df3 = pd.read_csv('tweet_20170301_20170401_en.csv')
df3['month'] = 3
df4= pd.read_csv('tweet_20170401_20170501_en.csv')
df4['month'] = 4
df5 = pd.read_csv('tweet_20170501_20170601_en.csv')
df5['month'] = 5
df6 = pd.read_csv('tweet_20170601_20170701_en.csv')
df6['month'] = 6

bdf = df1.append([df2, df3, df4, df5, df6])

In [7]:
bdf.reset_index(drop=True)
sbdf = bdf[['month', 'impressions','engagements','retweets','likes', 'follows']]
gbdf = sbdf.groupby(by='month')
gbdf.agg(['count', 'min', 'max', 'mean'])
#bdf[['Tweet text', 'impressions', 'retweets']][bdf.retweets>10]

      impressions                               engagements                \
            count     min      max         mean       count   min     max
month
1              10  1802.0   3549.0  2398.000000          10  46.0   171.0
2              15  2108.0  10087.0  3339.000000          15  36.0   241.0
3              22   105.0   2128.0  1501.454545          22   3.0   207.0
4              13  1743.0   2692.0  2206.000000          13  43.0   230.0
5              39   259.0  13409.0  2121.871795          39   0.0  1323.0
6              13   943.0   2766.0  1720.230769          13  44.0   155.0

                  retweets                      likes                          \
             mean    count  min   max      mean count   min    max       mean
month
1      109.800000       10  5.0  16.0  7.300000    10  18.0   67.0  28.800000
2      101.600000       15  3.0  23.0  9.600000    15  12.0   56.0  24.066667
3       75.090909       22  0.0  13.0  7.409091    22   0.0   41.0  19.045455
4      112.076923       13  6.0  13.0  9.000000    13  20.0   68.0  31.076923
5      140.153846       39  0.0  28.0  5.589744    39   0.0  239.0  27.128205
6       85.230769       13  3.0  10.0  6.076923    13  10.0   36.0  25.846154

      follows
        count min max      mean
month
1          10   0   0  0.000000
2          15   0   0  0.000000
3          22   0   1  0.045455
4          13   0   1  0.076923
5          39   0   1  0.051282
6          13   0   0  0.000000

## Now lets see what is going on with tags # and mentions @

In [17]:
import string
import operator

tag_dict = {}
mention_dict = {}
translator = str.maketrans("","", string.punctuation)
for i in bdf.index:
    tweet_text = bdf.ix[i]['Tweet text']
    tweet = str(tweet_text).lower()
    tweet_tokenized = tweet.split()
    
    for word in tweet_tokenized:
        if word[0:1] == '#' and len(word) > 1 :
            key = word.translate(translator)
            if key in tag_dict:
                tag_dict[key] += 1
            else:
                tag_dict[key] = 1
                
        if word[0:1] == '@' and len(word) > 1 :
            key = word.translate(translator)
            if key in mention_dict:
                mention_dict[key] += 1
            else:
                mention_dict[key] = 1
                
print(mention_dict)

{'': 8, 'oecd': 6, 'drachmolagnos': 12, 'atsipras': 1, 'tzervoudakis': 1, 'vasilismosxop': 2, 'corinacr': 6, 'e': 6, 'aristotelis2nd': 2, 'fragelico1': 2, 'chrisdeme': 2, 'elenasagiadinou': 2, 'cori': 6, 'antoniaantant8': 3, 'pkmakedonias': 6, 'kyriakosdiaman1': 1, 'adonisgeorgiadi': 1, 'alpharadio965': 3, 'gmourout': 1, 'kmitsotakis': 6, 'lprasinos': 3, 'taniaele': 2, 'cern': 6, 'svirkou1': 2}

## And what about time analysis

In [28]:
gmt_offset = 2

# Create datetime column
bdf['ts'] = pd.to_datetime(bdf['time'])
bdf['ts'] = bdf.ts + pd.to_timedelta(gmt_offset, unit='h')

# Add hour of day and day of week columns
bdf['hod_col'] = [t.hour for t in bdf.ts]
bdf['dow_col'] = [t.dayofweek for t in bdf.ts]

hod_dict = {}
hod_count = {}
dow_dict = {}
dow_count = {}
weekday_dict = {0:'Δευ', 1:'Τρι', 2:'Τετ', 3:'Πεμ', 4:'Παρ', 5:'Σαβ', 6:'Κυρ'}

# Process tweets, collect stats
for index, row in bdf.iterrows():
    hod = row['hod']
    dow = row['dow']
    imp = row['impressions']

    if hod in hod_dict:
        hod_dict[hod] += int(imp)
        hod_count[hod] += 1
    else:
        hod_dict[hod] = int(imp)
        hod_count[hod] = 1

    if dow in dow_dict:
        dow_dict[dow] += int(imp)
        dow_count[dow] += 1
    else:
        dow_dict[dow] = int(imp)
        dow_count[dow] = 1

print('Average impressions per tweet by hour tweeted:')
print('----------------------------------------------')
for hod in hod_dict:
    print(hod, '-', hod+1, ':', round(hod_dict[hod]/hod_count[hod]), '=>', hod_count[hod], ' tweets')

print('\nAverage impressions per tweet by day of week tweeted:')
print('-----------------------------------------------------')
for dow in dow_dict:
    print(weekday_dict[dow], ':', round(dow_dict[dow]/dow_count[dow]), '=>', dow_count[dow], ' tweets')

Average impressions per tweet by hour tweeted:
----------------------------------------------
7 - 8 : 1994.0 => 1  tweets
8 - 9 : 2766.0 => 1  tweets
10 - 11 : 1813.0 => 6  tweets
11 - 12 : 1357.0 => 4  tweets
12 - 13 : 2857.9 => 10  tweets
13 - 14 : 2061.222222222222 => 9  tweets
14 - 15 : 2469.1666666666665 => 12  tweets
15 - 16 : 2262.0 => 16  tweets
16 - 17 : 1930.4 => 5  tweets
17 - 18 : 1963.0 => 5  tweets
18 - 19 : 3890.0 => 2  tweets
19 - 20 : 3190.2727272727275 => 11  tweets
20 - 21 : 2060.1428571428573 => 7  tweets
21 - 22 : 1875.0 => 5  tweets
22 - 23 : 852.1333333333333 => 15  tweets
23 - 24 : 2651.6666666666665 => 3  tweets

Average impressions per tweet by day of week tweeted:
-----------------------------------------------------
Δευ : 1976.142857142857 => 21  tweets
Τρι : 1675.076923076923 => 13  tweets
Τετ : 1916.76 => 25  tweets
Πεμ : 1814.4117647058824 => 17  tweets
Παρ : 2807.764705882353 => 17  tweets
Σαβ : 2112.1 => 10  tweets
Κυρ : 3333.222222222222 => 9  tweets